<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>


    <add key="gServername" value="testserver"/>
    <!--<add key="gServername" value="192.168.1.207"/>-->

    <!--<add key="gDatabasename" value="dominicanhospitalV3_200327"/>
    <add key="gDatabasename" value="lutheranhospital_200330"/>
    <add key="gDatabasename" value="dominicanhospitalV3_200617"/>   
    <add key="gDatabasename" value="lutheranhospital_200617"/> 
    <add key="gDatabasename" value="dominicanhospitalV3_200707"/>
    <add key="gDatabasename" value="lutheranhospital_200624"/>
    <add key="gDatabasename" value="lutheranhospital_200715"/>
    <add key="gDatabasename" value="lutheranhospital_200920"/>
    <add key="gDatabasename" value="lutheranhospital_210209"/>
        <add key="gDatabasename" value="dominicanhospitalV2_210408"/>
    <add key="gDatabasename" value="dominicanhospitalV3_210408"/>
    <add key="gDatabasename" value="lutheranhospital_210301"/>-->
    <add key="gDatabasename" value="lutheranhospital_210702"/>

    <add key="gUsername" value="sa"/>
    <add key="gPassword" value="WNBYkzKz2HvULHFYwYy73g=="/>
    <!--sql2008 LLCf69bvd3SgTSd6VpUDsQ==-->
    <!--S1mpleSoftech WNBYkzKz2HvULHFYwYy73g==-->
    <add key="gAuthType" value="1"/>
    <add key="FilePrinterName" value="Bullzip PDF Printer"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="JHAYROSE" value="k5YM4Sbda3QbnqJcThnwFw==" />
    <add key="IDRISJHAY" value="k5YM4Sbda3QbnqJcThnwFw==" />
    <add key="0" value="k5YM4Sbda3QbnqJcThnwFw==" />
    <add key="1" value="3c6g5x71v8Whba/L6um6Xg==" />
    <add key="DATAS" value="C0oEb43SrD0Hnj+fADKG2A==" />
    <add key="INITCAT" value="T2FXhnhSjn4i0xrA96TzwoJv77rpb/LK4g4NRBDvneE=" />
    <add key="AUTH" value="VOn8y+qetxKaJE+Ur/xRdw==" />
    <add key="IDRIS" value="2QgDs8KD5Jp23dGEQ+UgSQ==" />
    <add key="ROSALES" value="A9T/JeAc7S9RmNtmEN5tuQ==" />
    <add key="PCBACK" value="8hV5sARa7R41GmkYKNIQ4Q==" />
    <add key="Image Storage" value="D:\MY PROJECTS\SIMPLE HIS\source codes assembla\trunk\SIMPLE HIS v3.9.0\bin\Debug" />
    <add key="CloudFileDesc" value="DHI" />
    <!--End Section-->

    <add key="RemoteHost" value="SOFTWORKSPC-PM\sqlexpress" />
    <add key="RemoteDatabaseName" value="9YVoth/VfOYXBblldXIfamhOEaCHTYqg2lasoeR4lTg=" />
    <add key="EncryptXML" value="1" />
    <add key="ViewXML" value="0" />
    <add key="UploadMethod" value="2" />
    <!--
        1=Using Form Data (Philhealth EndPoint)
        2=Using Form Data (Hospital Server EndPoint- PHP File)
        3=Using FTP       (Hospital Server EndPoint)
    -->
    <add key="DocumentServer" value="http://dhi.simplesoftech.com" />
    <!--<add key="WebService" value="http://dhi.simplesoftech.com/uploadv3.php" />-->
    <add key="WebService" value="http://dhi.simplesoftech.com/uploadv4.php" />
    <!--<add key="WebService" value="ftp://ftp.smarterasp.net/eclaims/" />
    <add key="FTPUsername" value="gfx4wtl8RLi1KL6fxoB92w==" />
    <add key="FTPPassword" value="VoAHMDRHqqFimubWccrf8g==" />-->
    <add key="DocumentLocation" value="TempDocuments\Original" />
    <add key="DocumentLocationEMR" value="D:\MY PROJECTS\SIMPLE HIS\source codes assembla\trunk\SIMPLE HIS v3.9.0\bin\Debug"/>

    <add key="CertificateLocation" value="pnpki_philhealth_eclaims_auth_cert.pem" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ThemeColor" value="#605ca8" />
    <add key="AllDetails" value="0" />
    <add key="AutoSaveVoucher" value="1" />
    <add key="AttachmentDirectory" value="test/" />
    <add key="AutoAttachCF4" value="1" />
    <add key="MergeAllItemCode" value="1" />

    <add key="usetemptable" value="0"/>
    <add key="env" value="development"/>
    <add key="EnableUpload" value="1"/>
    <add key="EnableDownload" value="1"/>
  </appSettings>
  <startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PhilhealthServiceBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <security mode="Transport" />
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="MMHRServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="InternalServiceBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://210.4.103.170:8077/SOAP?service=PhilhealthService" binding="basicHttpBinding" bindingConfiguration="PhilhealthServiceBinding" contract="PhilHealthServices.PhilhealthService" name="PhilhealthServicePort" />
      <endpoint address="https://210.4.103.170:8077/SOAP?service=MMHRService" binding="basicHttpBinding" bindingConfiguration="MMHRServiceBinding" contract="PhilHealthServices.MMHRService" name="MMHRServicePort" />
      <endpoint address="https://210.4.103.170:8077/SOAP?service=InternalService" binding="basicHttpBinding" bindingConfiguration="InternalServiceBinding" contract="PhilHealthServices.InternalService" name="InternalServicePort" />

      <!--<endpoint address="https://eclaimslive.philhealth.gov.ph:8077/SOAP?service=PhilhealthService" binding="basicHttpBinding" bindingConfiguration="PhilhealthServiceBinding" contract="PhilHealthServices.PhilhealthService" name="PhilhealthServicePort"/>
      <endpoint address="https://eclaimslive.philhealth.gov.ph:8077/SOAP?service=MMHRService" binding="basicHttpBinding" bindingConfiguration="MMHRServiceBinding" contract="PhilHealthServices.MMHRService" name="MMHRServicePort"/>
      <endpoint address="https://eclaimslive.philhealth.gov.ph:8077/SOAP?service=InternalService" binding="basicHttpBinding" bindingConfiguration="InternalServiceBinding" contract="PhilHealthServices.InternalService" name="InternalServicePort"/>-->

    </client>
  </system.serviceModel>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
